details.xtitems-block {
  border: none;
}
details.xtitems-block > summary {
  background: #dbdbdb;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}
details.xtitems-block > .details-wrapper {
  padding: 0.5em 0.5em 0.5em 1.0em;
}
.xtitems-block .xtitems-item {
  margin-left: 1.0em;
  line-height: 1.2;
  display: list-item;
}
.xtitems-block .xtitems-item p {
  margin: 0 0 4px;
}
article.node--type-xtitems .field__item {
  margin-bottom: 12px;
}
#slogxt-dialog-content .xtitems-settings-wrapper {
    width: 100%;
    position: relative;
    height: 24px;
}
#slogxt-dialog-content .xtitems-settings-wrapper a.xtsitems-settings {
    position: absolute;
    right: 0;
}

